@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --primary-color: #252422;
    --secondary-color: #CCC5B9;
    --accent1-color: #FCA311;
    --accent2-color: #FFFCF2;
    --accent3-color: #14213D;

    --heading-font: #252422, "PT serif", serif;
    --paragraph-font: #252422, "PT serif", serif;

    --nav-background-color: #FCA311;
    --nav-link-color: #000000;
    --nav-hover-link-color: #FFFCF2;
    --nav-hover-background-color: #14213D;
}

body {
    font-family: var(--paragraph-font);
    max-width: auto;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 5px;
}

header {
    padding: 20px;
    background-color: var(--accent3-color);
}

p {
    padding: 20px;
}

nav {
    font-size: 1.1rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--accent2-color);
    text-decoration: underline;
    padding: 0.5rem;
}

.hero {
    position: absolute;
}

.hero h1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    color: #FFFCF2;
}

.hero article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #FFFCF2;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}