
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    padding: 0;
    box-sizing: border-box;
    max-width: 2000px;
    margin: 0 auto;
}

:root {
    --primary-color: #252422;
    --secondary-color: #CCC5B9;
    --accent1-color: #FCA311;
    --accent2-color: #FFFCF2;

    --heading-font: #252422, "PT serif", serif;
    --paragraph-font: #252422, "PT serif", serif;

    --max-width-page: 1500px;
}
  
body {
    font-family: var(--heading-font);
    margin: 20px;
    padding: 0;
}
  
h1, h2 {
    color: var(--primary-color);
}
  
p {
    padding: 20px;
    color: var(--paragraph-font); 
}

  
.social-links a {
    text-decoration: none; 
    font-size: 0.9rem;
}
 
.hero h1 {
    position: absolute;
    top: 80px;
    margin-bottom: 2rem;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 0px rgba(0, 0 , 0 , 0.5);
}

.hero {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    height: 450px; 
    background-size: cover;
    background-position: center;
}
  
.hero img {
    width: 100%;
    display: block; 
    height: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}
  
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent2-color);
    font-size: 3rem;
    text-align: center;
}
  
article {
    position: absolute;
    top: 200px;
    left: 40px;
    right: 40px;
    background-color: rgba(252, 237, 237, 0.5); /* Background color with opacity */
    border-radius: 2px;
    padding: 0.75rem;
    color: var(--paragraph-font);
}
  
article p {
    margin-right: 10rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
article img {
    float: right;
    margin-left: 10px;
    max-width: 200px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 0.5px;
}

nav {
    font-size: 1.1rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--accent3-color);
    padding: 0.5rem;
}

section h2 {
    color: #FFFCF2;
    background-color: #14213D;
    border-radius: 2px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section p {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.adventures h2 {
    color: #FFFCF2;
    background-color: #14213D;
    text-align: center;
}

section img {
    display: inline;
}

header {
    padding: 10px 0;
    background-color: #fff;
    color: #14213D;
	margin: 1rem auto;
	display: flex;
	grid-template-columns: auto 1fr;
	align-items: center;
	border-bottom: 3px solid #FCA311;
	max-width: 2000px;
    width: 100%;
}

header img {
    width: 200px;
}

img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

.logo img {
    height: 180px;
    margin-right: 20px;
    background-color: #fff;
}

h1 {
	font-size: 2rem;
	font-family: "PT Serif", serif;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 100px;
}

nav ul li a {
    text-decoration: none;
    color: #14213D;
    padding: 5px 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
    background-color: var(--accent1-color);
    border-radius: 3px;
}

section {
    margin: 2rem 0;
}

section h2 {
    border-bottom: 3px solid #FCA311;
}


.adventures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.adventures figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

.adventures figcaption {
    padding: 0.5rem;
    background-color: lightgray;
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

footer {
    background-color: #14213D;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

footer nav a img {
    width: 30px;
    height: 30px;
}

/*contact us*/


.hero-section {
    position: relative;
    text-align: center;
    color: #14213D;
}

.hero-section img {
    width: 100%;
    display: block; 
    height: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

.hero-text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0 , 0 , 0.5);

}

.text-trips h1 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 0px rgba(0, 0 , 0 , 0.5);
}

.text-trips p {
    display: block;
    padding: 40px;
    color: var(--accent2-color); 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 20px;
    background-color: #14213D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 3px solid #FCA311;
}

.other-content {
    flex: 1;
    padding: 100px;
    background-color: #f0f0f0;
}

.other-content input {
    width: 100%;
    height: auto;
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.other-content p {
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    margin-top: 10px;
}

.info-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.info-details {
    flex: 1;
    padding-right: 2rem;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.location-map {
    flex: 1;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.location-map iframe {
    border: 1px solid #14213D;
    border-radius: 2px;
}

.info-box section {
    margin-bottom: 0.5rem;
}

.info-box h2 {
    margin-top: 0;
    text-align: left;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 2px;
}

.info-box p {
    margin: 0;
    text-align: left;
    border: 1px solid #14213D;
    border-radius: 2px;
}

.tittle h1 {
    margin-bottom: 2rem;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #14213D;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.adventures2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.adventures2 img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

.adventures2 figcaption {
    padding: 0.5rem;
    background-color: lightgray;
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.employee {
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .employee h2 {
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 2px;
    border-bottom: 3px solid #FCA311;
}


/*contact us - forms*/
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #14213D;
    border-radius: 0.5rem;
    background-color: #eeeeee;
}

fieldset {
    display: contents;
    margin-bottom: 1rem;
}


legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}

h3 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
    grid-column: 1/ -1;
}

label, input, button, select, textarea, form p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* font-size: 1rem; */
}

label {
    text-align: right;
    padding-right: 0.5rem;
    font-size: 1.1rem;
    align-self: center;
    color: #14213D;
}

select, textarea {
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    color: #14213D;
}

input[ type="email"] {
    width: auto;
    height: auto;
    margin-left: 0;
    display: block;
    width: 100%;
    margin: 0rem auto;
    padding: 0.5rem;
    font-size: 0.75rem;
}

button {
    display: block;
    width: 100%;
    margin: 1rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

form p, form label, form input, form select, form textarea {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 1rem; */
}

form p {
    grid-column: 1/ -1;
    font-size: 1.1rem;
}

.center-label {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

.center-radio {
    display: flex;
    text-align: left;
}

.center-radio input[type="radio"] {
    margin-right: 0.5rem;
    transform: scale(0.3);
}

.center-radio label {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.95rem;
}

.larger-textarea {
    display: block;
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    height: 5rem;
}

.center-checkbox {
    display: flex;
    justify-content: center;
}

.center-checkbox input[type="checkbox"] {
    margin-left: 0.5rem;
    transform: scale(0.5);
}

.center-checkbox label {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

/*Trips*/

.hero-section {
    position: relative;
    text-align: center;
    color: #14213D;
}

.hero-section img {
    width: 100%;
    display: block; 
    height: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

.hero-text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 2px;
    text-shadow: 5px 5px 0px rgba(0, 0 , 0 , 0.5);

}

.text-trips h1 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 0px rgba(0, 0 , 0 , 0.5);
}

.text-trips p {
    display: block;
    padding: 40px;
    color: var(--accent2-color); 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 20px;
    background-color: #14213D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 3px solid #FCA311;
}

.linha {
    width: 100% auto;
    height: 1px;
    background-color: #14213D;
    margin: 80px;
}

/*.linha1 {
    width: 100% auto;
    height: 1px;
    background-color: #14213D;
    margin: 80px;
    margin-top: 0;
}*/

.book-now {
    display: block;
    background-color: #FCA311;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 5rem;
    border: 1px solid #14213D;
    border-radius: 2px;
}

.book-now a {
    text-decoration: none;
    color: #14213D;
    font-size: 30px;
    padding: 0.5rem 2rem;
    display: inline-block;
}

.book-now a:hover {
    font-style: oblique;
}

.packages {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.packages figure {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 350px;
}

.packages img {
    width: 350px;
    height: auto;
    margin-bottom: 1rem;
    margin: 0;
}

.packages figcaption {
    background-color: lightgray;
    padding: 0.5rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 2px;
}

.packages .book-now2 a {
    text-decoration: none;
    color: #14213D;
    font-size: 20px;
    padding: 0.5rem 1rem;
    border: 2px solid #14213D;
    border-radius: 2px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.packages .book-now2 a:hover {
    background-color: #14213D;
    color: #fff;
}

.more-info a {
    color: #14213D;
    margin-bottom: 40px;
}

/*home*/

.tittle2 h1 {
    margin-bottom: 2rem;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #14213D;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.hero h1 {
    position: absolute;
    top: 80px;
    margin-bottom: 2rem;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 0px rgba(0, 0 , 0 , 0.5);
}

.hero {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    height: 450px; 
    background-size: cover;
    background-position: center;
}
  
.hero img {
    width: 100%;
    display: block; 
    height: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

.hero-section2 {
    position: relative;
    text-align: center;
    color: #14213D;
}

.hero-section2 img {
    width: 100%;
    display: block; 
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

.hero-text2 h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 2px;
    text-shadow: 5px 5px 0px rgba(0, 0 , 0 , 0.5);

}

.hero-text2 p {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 2px;
    text-shadow: 2px 2px 0px rgba(0, 0 , 0 , 0.5);
    font-style: oblique;
}


.text-trips2 h1 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 0px rgba(0, 0 , 0 , 0.5);
}

.text-trips2 p {
    display: block;
    padding: 1rem;
    color: var(--accent2-color); 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 40px;
}

.book-now3 a {
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0.5rem 1rem;
    border: 2px solid #fff;
    border-radius: 2px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 5rem;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-now3 a:hover {
    position: absolute;
    background-color: #FCA311;
    color: #14213D;
}

.hero-section2 article {
    position: absolute;
    top: 750px;
    left: 40px;
    right: 40px;
    background-color: rgba(227, 247, 44, 0); /* Background color with opacity */
    border-radius: 2px;
    padding: 0.75rem;
}
  
.hero-section2 article p {
    background-color: #14213D; 
    border-bottom: 3px solid #FCA311;
    color: #14213D;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.text-trips2 .hero-section2 article p {
    color: #fff
}

.pack {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.pack figure {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 350px;
}

.pack img {
    width: 300px;
    height: 250px;
    margin-bottom: 1rem;
    margin: 0;
}

.pack figcaption {
    background-color: lightgray;
    padding: 0.5rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 5px;
    border-radius: 2px;
}

.pack figcaption a {
    text-decoration: none;
    color: #14213D;
}

.pack figcaption:hover {
    color: #14213D;
    background-color: #FCA311;
}

.main-content2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    width: 100%;
    margin-top: 10px;
    background-color: #14213da1;
}

.info-box2 {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.info-details2 {
    flex: 1;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}


.info-box2 section {
    margin-bottom: 0.5rem;
}

.info-box2 h2 {
    margin-top: 0;
    text-align: left;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 2px;
}

.info-box2 p {
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
    border: 1px solid #14213D;
    border-radius: 2px;
    background-color: #14213d3b;
}

.photo {
    flex: 1;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.photo img {
    border: 1px solid #14213D;
    border-radius: 2px;
    width: 100%;
    height: 450px;
    position: relative;
}

.info-details2 a {
    text-decoration: none;
    background-color: #14213D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.info-details2 a:hover {
    background-color: #633f05;
}